* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

header h1 {
display: flexbox;
flex-direction: row;
align-items: flex-start;
font-size: 40px;
text-align: start;
}

header nav {
  padding: 30px;
  text-align: end;
  background: #13293d;
  color: #fff;
  display: flexbox;
  justify-content: flex-end;
  background-color: #d8a47f;
  flex-direction: row;
}



footer {
  padding: auto;
  background-color: #fff;
  font-size: 20;
  align-items: normal;
}
footer div {
  align-items: flex-start;
  font-size: 40;
  color: #13293d;
}