* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: aqua;


}


header a {
  
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px 25px;
    color: grey;
    font-size: 25px;
}


nav a:hover {
    color:red;
}


h1 {
    justify-content: flex-start;
    background-position: 15px;
    color: black;
    font-size: 40px;

}
.content {
    display: inline-block;
    flex-wrap: nowrap;

}
aside {
    flex:1;
    background-color: aquamarine;
    padding: 20px;
}

div{
    display: block;
    background-color: aquamarine;
    padding: 20px;
}


main {
    display: flex;
    flex-wrap: wrap;
}


footer {
    display: inline;
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center
}


.content {
    display: flex;

}

@media (min-width: 400px){
    .contact, 
    .contact-nav{
      flex-direction: row;
    }
  }